# Смирнов Тимур, Петров Даниил, Фартунина Александра, Дьякова Милина, Шамалова Анастасия

In [ ]:
import pandas as pd
import numpy as np

In [183]:
movies = pd.read_csv("movies.csv", sep=",")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [184]:
len(movies)

9742

In [185]:
ratings = pd.read_csv("ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [186]:
len(ratings)

100836

In [142]:
tags= pd.read_csv("tags.csv")
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [143]:
len(tags)

3683

In [144]:
rate=ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
rate.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [145]:
n_users = ratings.userId.unique().shape[0]
n_movies = ratings.movieId.unique().shape[0]
print ('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 610 | Number of movies = 9724

In [146]:
movies = movies.merge(ratings, on = 'movieId', how = 'inner')
movies

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.5,1455209816
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,4.0,965705637
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21,3.5,1407618878
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27,3.0,962685262
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,5.0,850466616
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32,3.0,856736119
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,3.0,939647444
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40,5.0,832058959
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,5.0,848993983
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44,3.0,869251860
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45,4.0,951170182
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50,3.0,1514238116
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54,3.0,830247330
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,5.0,965796031
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,5.0,1443199669
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,64,4.0,1161520134
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,66,4.0,1104643957
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68,2.5,1158531426
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,71,5.0,864737933
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,73,4.5,1464196374
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,76,0.5,1439165548
27,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,78,4.0,1252575124
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,82,2.5,1084467729
29,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,86,4.0,1344082549
...,...,...,...,...,...,...
100806,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,596,4.0,1535709468
100807,188675,Dogman (2018),Crime|Drama,318,3.5,1535035470
100808,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance,212,4.5,1532362151
100809,188797,Tag (2018),Comedy,514,4.0,1535941279
100810,188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy,318,4.5,1535035971
100811,189043,Boundaries (2018),Comedy|Drama,338,2.5,1530148447
100812,189111,Spiral (2018),Documentary,338,3.0,1530148343
100813,189333,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller,184,4.0,1537110051
100814,189333,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller,248,3.5,1534602181
100815,189381,SuperFly (2018),Action|Crime|Thriller,318,2.5,1536097988
100816,189547,Iron Soldier (2010),Action|Sci-Fi,210,1.0,1528486011
100817,189713,BlacKkKlansman (2018),Comedy|Crime|Drama,462,2.5,1536467299
100818,190183,The Darkest Minds (2018),Sci-Fi|Thriller,50,3.5,1533302021
100819,190207,Tilt (2011),Drama|Romance,338,1.5,1530148481
100820,190209,Jeff Ross Roasts the Border (2017),Comedy,338,4.0,1530148487
100821,190213,John From (2015),Drama,338,1.0,1530148478
100822,190215,Liquid Truth (2017),Drama,338,1.5,1530148477
100823,190219,Bunny (1998),Animation,338,1.0,1530148473
100824,190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary,338,1.0,1530148473
100825,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,184,4.5,1537109489
100826,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554
100827,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama,184,3.0,1537099103
100828,193571,Silver Spoon (2014),Comedy|Drama,184,4.0,1537099392
100829,193573,Love Live! The School Idol Movie (2015),Animation,184,4.0,1537099811
100830,193579,Jon Stewart Has Left the Building (2015),Documentary,184,3.5,1537107259
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [147]:
len(movies)

100836

In [148]:
movies.shape

(100836, 6)

In [149]:
movies['userId'].value_counts().describe()

count     610.000000
mean      165.304918
std       269.480584
min        20.000000
25%        35.000000
50%        70.500000
75%       168.000000
max      2698.000000
Name: userId, dtype: float64

In [150]:
movies['movieId'].value_counts().describe()

count    9724.000000
mean       10.369807
std        22.401005
min         1.000000
25%         1.000000
50%         3.000000
75%         9.000000
max       329.000000
Name: movieId, dtype: float64

In [151]:

movies = movies[['userId','movieId','rating']]
movies

        userId  movieId  rating
0            1        1     4.0
1            5        1     4.0
2            7        1     4.5
3           15        1     2.5
4           17        1     4.5
5           18        1     3.5
6           19        1     4.0
7           21        1     3.5
8           27        1     3.0
9           31        1     5.0
10          32        1     3.0
11          33        1     3.0
12          40        1     5.0
13          43        1     5.0
14          44        1     3.0
15          45        1     4.0
16          46        1     5.0
17          50        1     3.0
18          54        1     3.0
19          57        1     5.0
20          63        1     5.0
21          64        1     4.0
22          66        1     4.0
23          68        1     2.5
24          71        1     5.0
25          73        1     4.5
26          76        1     0.5
27          78        1     4.0
28          82        1     2.5
29          86        1     4.0
...        ...      ...     ...
100806     596   188301     4.0
100807     318   188675     3.5
100808     212   188751     4.5
100809     514   188797     4.0
100810     318   188833     4.5
100811     338   189043     2.5
100812     338   189111     3.0
100813     184   189333     4.0
100814     248   189333     3.5
100815     318   189381     2.5
100816     210   189547     1.0
100817     462   189713     2.5
100818      50   190183     3.5
100819     338   190207     1.5
100820     338   190209     4.0
100821     338   190213     1.0
100822     338   190215     1.5
100823     338   190219     1.0
100824     338   190221     1.0
100825     184   191005     4.5
100826     184   193565     3.5
100827     184   193567     3.0
100828     184   193571     4.0
100829     184   193573     4.0
100830     184   193579     3.5
100831     184   193581     4.0
100832     184   193583     3.5
100833     184   193585     3.5
100834     184   193587     3.5
100835     331   193609     4.0

[100836 rows x 3 columns]

In [152]:
df = ratings
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [153]:
conda install -c conda-forge scikit-surprise

Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [154]:
from surprise import BaselineOnly
from surprise import SVD 
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate

In [188]:
Reader(rating_scale=(1, 5))
Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)

cross_validate(algo, data, measures=['MSE', 'MAE',], cv=8, verbose=True)

Evaluating MSE, MAE of algorithm SVD on 8 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Mean    Std
MSE (testset)     0.7491  0.7700  0.7352  0.7506  0.7656  0.7452  0.7605  0.7676  0.7555  0.0115
MAE (testset)     0.6601  0.6735  0.6611  0.6652  0.6747  0.6616  0.6725  0.6733  0.6678  0.0059
Fit time          5.38    5.36    5.37    5.18    5.20    5.24    5.27    5.20    5.27    0.08
Test time         0.08    0.07    0.14    0.07    0.08    0.07    0.08    0.14    0.09    0.03

{'test_mse': array([0.749114  , 0.77002172, 0.73523586, 0.75058471, 0.765596  ,
        0.74520192, 0.76050923, 0.76763119]),
 'test_mae': array([0.6601362 , 0.67348058, 0.6611484 , 0.66515813, 0.67474451,
        0.66160155, 0.67249349, 0.67334989]),
 'fit_time': (5.377357006072998,
  5.364898681640625,
  5.367053747177124,
  5.1763763427734375,
  5.1957128047943115,
  5.243494987487793,
  5.265156030654907,
  5.198901176452637),
 'test_time': (0.07880067825317383,
  0.07479977607727051,
  0.13664913177490234,
  0.07483029365539551,
  0.08064770698547363,
  0.07482624053955078,
  0.0797882080078125,
  0.14265775680541992)}

In [175]:
trainset, testset = train_test_split(data, test_size=0.17)
algorithm = SVD()
algorithm.fit(trainset)
predictions = algorithm.test(testset)

accuracy.mse(predictions)

MSE: 0.7454

0.7454422390000082